n8n-workflows/categorize-transaction.json
{
  "name": "Categorize Transaction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "categorize-transaction",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-categorize",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "categorize-transaction"
    },
    {
      "parameters": {
        "jsCode": "// Normalize merchant/description for matching\n// Handle webhook data - it may be in body or at root level\nconst webhookData = $input.item.json.body || $input.item.json;\nconst description = webhookData.description || '';\nconst merchant = webhookData.merchant || '';\nconst user_id = webhookData.user_id || '';\nconst type = webhookData.type || '';\nconst amount = webhookData.amount || 0;\nconst date = webhookData.date || '';\nconst transaction_id = webhookData.transaction_id || '';\n\n// Normalize: uppercase, remove special chars\nconst normalize = (str) => {\n  if (!str) return '';\n  return str\n    .toUpperCase()\n    .replace(/[^A-Z0-9\\s]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\nconst normalizedMerchant = normalize(merchant);\nconst normalizedDescription = normalize(description);\nconst pattern = normalizedMerchant || normalizedDescription;\n\n// Return all fields needed for downstream nodes\nreturn {\n  user_id: user_id,\n  description: description,\n  merchant: merchant,\n  type: type,\n  amount: amount,\n  date: date,\n  transaction_id: transaction_id,\n  pattern: pattern,\n  normalized_merchant: normalizedMerchant,\n  normalized_description: normalizedDescription\n};"
      },
      "id": "normalize-pattern",
      "name": "Normalize Pattern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://us-central1-money-magnet-cf5a4.cloudfunctions.net/checkCategoryMappingHttp",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({\n  data: {\n    user_id: $json.user_id || '',\n    pattern: $json.pattern || '',\n    transaction_type: $json.type || ''\n  }\n}) }}",
        "options": {}
      },
      "id": "check-mapping",
      "name": "Check Learned Mapping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mapping-found",
              "leftValue": "={{ $json.result && $json.result.mapping_found || $json.mapping_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-mapping",
      "name": "Mapping Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category-id",
              "name": "category_id",
              "value": "={{ $json.result && $json.result.category_id || $json.category_id }}",
              "type": "string"
            },
            {
              "id": "category-name",
              "name": "category_name",
              "value": "={{ $json.result && $json.result.category_name || $json.category_name }}",
              "type": "string"
            },
            {
              "id": "confidence",
              "name": "confidence",
              "value": 1.0,
              "type": "number"
            },
            {
              "id": "source",
              "name": "source",
              "value": "learned",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "use-learned",
      "name": "Use Learned Category",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Enhanced similarity-based categorization\n// Preserve all input data\nconst input = $input.item.json;\nconst description = input.description || '';\nconst merchant = input.merchant || '';\nconst user_id = input.user_id || '';\nconst type = input.type || 'expense';\nconst text = (merchant + ' ' + description).toLowerCase().trim();\n\n// Calculate similarity between two strings (Levenshtein-based)\nfunction similarity(str1, str2) {\n  const longer = str1.length > str2.length ? str1 : str2;\n  const shorter = str1.length > str2.length ? str2 : str1;\n  if (longer.length === 0) return 1.0;\n  \n  // Check for exact match or substring\n  if (longer.includes(shorter)) return 0.9;\n  if (shorter.includes(longer)) return 0.9;\n  \n  // Calculate edit distance\n  const editDistance = levenshteinDistance(longer, shorter);\n  return (longer.length - editDistance) / longer.length;\n}\n\n// Levenshtein distance calculation\nfunction levenshteinDistance(str1, str2) {\n  const matrix = [];\n  for (let i = 0; i <= str2.length; i++) {\n    matrix[i] = [i];\n  }\n  for (let j = 0; j <= str1.length; j++) {\n    matrix[0][j] = j;\n  }\n  for (let i = 1; i <= str2.length; i++) {\n    for (let j = 1; j <= str1.length; j++) {\n      if (str2.charAt(i - 1) === str1.charAt(j - 1)) {\n        matrix[i][j] = matrix[i - 1][j - 1];\n      } else {\n        matrix[i][j] = Math.min(\n          matrix[i - 1][j - 1] + 1,\n          matrix[i][j - 1] + 1,\n          matrix[i - 1][j] + 1\n        );\n      }\n    }\n  }\n  return matrix[str2.length][str1.length];\n}\n\n// Find best matching keyword with similarity score\nfunction findBestMatch(text, keywords) {\n  let bestMatch = null;\n  let bestScore = 0;\n  \n  // Split text into words for better matching\n  const textWords = text.split(/[\\s\\-\\.,;:]+/).filter(w => w.length > 2);\n  \n  for (const keyword of keywords) {\n    const keywordLower = keyword.toLowerCase();\n    \n    // Check exact match\n    if (text.includes(keywordLower)) {\n      return { keyword, score: 1.0 };\n    }\n    \n    // Check word-by-word similarity\n    for (const word of textWords) {\n      const sim = similarity(word, keywordLower);\n      if (sim > bestScore) {\n        bestScore = sim;\n        bestMatch = keyword;\n      }\n    }\n    \n    // Check full text similarity\n    const fullSim = similarity(text, keywordLower);\n    if (fullSim > bestScore) {\n      bestScore = fullSim;\n      bestMatch = keyword;\n    }\n  }\n  \n  return bestMatch ? { keyword: bestMatch, score: bestScore } : null;\n}\n\n// Expanded category keyword mapping with many more examples\nconst categories = {\n  'groceries': [\n    'walmart', 'target', 'kroger', 'safeway', 'whole foods', 'wegmans', 'publix', 'hannaford',\n    'stop & shop', 'giant', 'food lion', 'aldi', 'lidl', 'trader joe', 'costco', 'sam club',\n    'grocery', 'supermarket', 'food store', 'market', 'food market', 'grocery store',\n    'super center', 'supercenter', 'food city', 'harris teeter', 'king soopers', 'ralphs',\n    'vons', 'albertsons', 'fred meyer', 'qfc', 'smiths', 'frys', 'jewel osco', 'acme'\n  ],\n  'restaurants': [\n    'restaurant', 'mcdonald', 'burger king', 'wendy', 'taco bell', 'kfc', 'pizza hut',\n    'domino', 'papa john', 'subway', 'chipotle', 'qdoba', 'moe', 'panera', 'starbucks',\n    'dunkin', 'dunkin donut', 'pizza', 'burger', 'taco', 'burrito', 'sandwich', 'dining',\n    'diner', 'cafe', 'bistro', 'grill', 'steakhouse', 'seafood', 'sushi', 'chinese',\n    'italian', 'mexican', 'thai', 'indian', 'japanese', 'korean', 'vietnamese', 'mediterranean',\n    'olive garden', 'red lobster', 'outback', 'applebees', 'chilis', 'buffalo wild wing',\n    'texas roadhouse', 'longhorn', 'red robin', 'five guys', 'shake shack', 'in-n-out',\n    'whataburger', 'culvers', 'arby', 'jack in the box', 'white castle', 'del taco',\n    'panda express', 'pf chang', 'cheesecake factory', 'ihop', 'denny', 'waffle house'\n  ],\n  'coffee': [\n    'starbucks', 'dunkin', 'dunkin donut', 'coffee', 'cafe', 'espresso', 'latte', 'cappuccino',\n    'peets', 'caribou', 'tim horton', 'costa', 'nero', 'blue bottle', 'intelligentsia',\n    'philz', 'coffee bean', 'the coffee bean', 'biggby', 'dutch bros', 'black rock',\n    'the human bean', 'coffee shop', 'coffeehouse', 'café', 'barista'\n  ],\n  'gas': [\n    'shell', 'exxon', 'chevron', 'bp', 'mobil', 'texaco', 'valero', 'citgo', 'sunoco',\n    'marathon', 'phillips 66', 'conoco', '76', 'arco', 'speedway', 'casey', 'kum & go',\n    'quik trip', 'qt', 'sheet', 'wa wa', 'race trac', 'pilot', 'flying j', 'love',\n    'gas station', 'fuel', 'gasoline', 'petrol', 'filling station', 'service station',\n    'truck stop', 'fuel stop'\n  ],\n  'utilities': [\n    'electric', 'electricity', 'power', 'energy', 'water', 'sewer', 'trash', 'garbage',\n    'waste', 'utility', 'utilities', 'gas company', 'natural gas', 'propane', 'heating',\n    'cooling', 'hvac', 'internet', 'broadband', 'wifi', 'cable', 'tv', 'television',\n    'phone', 'telephone', 'landline', 'cell phone', 'mobile', 'verizon', 'at&t', 't-mobile',\n    'sprint', 'comcast', 'xfinity', 'spectrum', 'cox', 'directv', 'dish', 'duke energy',\n    'southern california edison', 'pg&e', 'con edison', 'national grid'\n  ],\n  'rent': [\n    'rent', 'apartment', 'housing', 'lease', 'rental', 'landlord', 'property management',\n    'apartment complex', 'condo', 'condominium', 'townhouse', 'duplex', 'house', 'home',\n    'residence', 'dwelling', 'lodging', 'accommodation', 'tenant', 'lessee'\n  ],\n  'transportation': [\n    'uber', 'lyft', 'taxi', 'cab', 'rideshare', 'ride share', 'metro', 'subway', 'transit',\n    'bus', 'train', 'rail', 'railway', 'amtrak', 'greyhound', 'airport shuttle', 'shuttle',\n    'parking', 'parking meter', 'parking garage', 'valet', 'toll', 'toll road', 'ez pass',\n    'fastrak', 'sunpass', 'tollway', 'bridge toll', 'ferry', 'boat', 'boat ride',\n    'bike share', 'lime', 'bird', 'scooter', 'car rental', 'hertz', 'avis', 'enterprise',\n    'national', 'budget', 'alamo', 'europcar', 'sixt'\n  ],\n  'shopping': [\n    'amazon', 'ebay', 'etsy', 'walmart', 'target', 'costco', 'best buy', 'home depot',\n    'lowes', 'macy', 'nordstrom', 'kohl', 'jcp', 'jcpenney', 'sears', 'old navy',\n    'gap', 'banana republic', 'h&m', 'zara', 'forever 21', 'ulta', 'sephora',\n    'bath & body works', 'victoria secret', 'lululemon', 'nike', 'adidas', 'under armour',\n    'store', 'retail', 'shop', 'shopping', 'mall', 'outlet', 'marketplace', 'online',\n    'ecommerce', 'e-commerce', 'marketplace', 'auction', 'bid', 'purchase', 'buy'\n  ],\n  'entertainment': [\n    'netflix', 'spotify', 'apple music', 'youtube', 'youtube premium', 'hulu', 'disney',\n    'disney plus', 'disney+', 'hbo', 'hbo max', 'paramount', 'peacock', 'amazon prime',\n    'movie', 'theater', 'cinema', 'amc', 'regal', 'cinemark', 'concert', 'show', 'ticket',\n    'ticketmaster', 'stubhub', 'event', 'festival', 'music', 'song', 'album', 'game',\n    'video game', 'playstation', 'xbox', 'nintendo', 'steam', 'epic games', 'twitch',\n    'streaming', 'subscription', 'membership', 'club', 'arcade', 'bowling', 'mini golf',\n    'laser tag', 'escape room', 'comedy club', 'nightclub', 'bar', 'pub', 'lounge'\n  ],\n  'healthcare': [\n    'pharmacy', 'cvs', 'walgreens', 'rite aid', 'walmart pharmacy', 'target pharmacy',\n    'doctor', 'physician', 'dentist', 'orthodontist', 'optometrist', 'ophthalmologist',\n    'hospital', 'clinic', 'medical', 'health', 'healthcare', 'health care', 'urgent care',\n    'emergency room', 'er', 'surgery', 'procedure', 'lab', 'laboratory', 'x-ray', 'xray',\n    'mri', 'ct scan', 'ultrasound', 'prescription', 'medication', 'medicine', 'drug',\n    'insurance', 'copay', 'deductible', 'medical bill', 'hospital bill', 'dental',\n    'vision', 'eye exam', 'glasses', 'contacts', 'hearing aid', 'physical therapy',\n    'chiropractor', 'massage', 'therapy', 'counseling', 'psychiatrist', 'psychologist'\n  ],\n  'subscriptions': [\n    'subscription', 'membership', 'monthly', 'annual', 'yearly', 'recurring', 'auto renew',\n    'netflix', 'spotify', 'apple music', 'youtube premium', 'hulu', 'disney', 'hbo',\n    'amazon prime', 'adobe', 'microsoft', 'office 365', 'dropbox', 'icloud', 'google one',\n    'cloud storage', 'software', 'saas', 'service', 'premium', 'pro', 'plus', 'basic',\n    'tier', 'plan', 'billing', 'renewal', 'auto-pay', 'autopay'\n  ],\n  'insurance': [\n    'insurance', 'auto insurance', 'car insurance', 'home insurance', 'homeowner',\n    'renters insurance', 'life insurance', 'health insurance', 'dental insurance',\n    'vision insurance', 'disability', 'geico', 'state farm', 'allstate', 'progressive',\n    'farmers', 'liberty mutual', 'usaa', 'nationwide', 'travelers', 'american family',\n    'premium', 'policy', 'coverage', 'claim', 'deductible', 'copay', 'copayment'\n  ],\n  'education': [\n    'tuition', 'school', 'university', 'college', 'textbook', 'book', 'course', 'class',\n    'education', 'learning', 'training', 'workshop', 'seminar', 'conference', 'certification',\n    'student loan', 'loan payment', 'financial aid', 'scholarship', 'grant', 'fee',\n    'registration', 'enrollment', 'campus', 'dorm', 'housing', 'meal plan', 'cafeteria'\n  ],\n  'personal care': [\n    'haircut', 'hair', 'salon', 'barber', 'spa', 'massage', 'facial', 'manicure',\n    'pedicure', 'nail', 'wax', 'tanning', 'gym', 'fitness', 'workout', 'yoga', 'pilates',\n    'personal trainer', 'crossfit', 'planet fitness', '24 hour fitness', 'la fitness',\n    'equinox', 'orange theory', 'soulcycle', 'peloton', 'beauty', 'cosmetic', 'makeup',\n    'skincare', 'toiletries', 'shampoo', 'soap', 'toothpaste', 'deodorant'\n  ],\n  'home & garden': [\n    'home depot', 'lowes', 'harbor freight', 'ace hardware', 'true value', 'menards',\n    'home improvement', 'furniture', 'ikea', 'wayfair', 'overstock', 'bed bath',\n    'crate & barrel', 'pottery barn', 'west elm', 'homegoods', 'tj maxx', 'marshalls',\n    'garden', 'landscaping', 'lawn', 'yard', 'plant', 'seed', 'fertilizer', 'tool',\n    'appliance', 'refrigerator', 'washer', 'dryer', 'oven', 'dishwasher', 'microwave'\n  ],\n  'automotive': [\n    'car', 'automotive', 'auto', 'vehicle', 'tire', 'oil change', 'mechanic', 'repair',\n    'maintenance', 'service', 'jiffy lube', 'valvoline', 'firestone', 'goodyear',\n    'bridgestone', 'michelin', 'auto zone', 'oreilly', 'advance auto', 'napa', 'pep boys',\n    'car wash', 'detailing', 'registration', 'dmv', 'license', 'inspection', 'emissions'\n  ],\n  'travel': [\n    'hotel', 'motel', 'airbnb', 'booking', 'expedia', 'priceline', 'kayak', 'orbitz',\n    'travelocity', 'airline', 'flight', 'airport', 'delta', 'united', 'american', 'southwest',\n    'jetblue', 'alaska', 'spirit', 'frontier', 'luggage', 'suitcase', 'travel', 'trip',\n    'vacation', 'cruise', 'resort', 'all inclusive', 'tour', 'excursion', 'visa', 'passport'\n  ],\n  'charity & donations': [\n    'donation', 'charity', 'nonprofit', 'non-profit', 'ngo', 'contribution', 'give',\n    'red cross', 'unicef', 'salvation army', 'goodwill', 'habitat for humanity',\n    'world vision', 'doctors without borders', 'st jude', 'make a wish', 'toys for tots',\n    'go fund me', 'gofundme', 'kickstarter', 'indiegogo', 'patreon', 'tip', 'gratuity'\n  ],\n  'fees & charges': [\n    'fee', 'charge', 'service fee', 'transaction fee', 'atm fee', 'overdraft', 'nsf',\n    'late fee', 'penalty', 'interest', 'finance charge', 'annual fee', 'monthly fee',\n    'maintenance fee', 'account fee', 'wire transfer', 'foreign transaction', 'currency',\n    'conversion', 'convenience fee', 'processing fee', 'admin fee', 'setup fee'\n  ],\n  'income': [\n    'salary', 'paycheck', 'wage', 'income', 'pay', 'payment', 'deposit', 'direct deposit',\n    'payroll', 'bonus', 'commission', 'refund', 'reimbursement', 'rebate', 'cashback',\n    'cash back', 'reward', 'points', 'dividend', 'interest income', 'investment return',\n    'capital gain', 'gift', 'transfer in', 'venmo', 'paypal', 'zelle', 'cash app'\n  ]\n};\n\nlet suggestedCategory = null;\nlet bestMatch = null;\nlet bestScore = 0;\n\n// Find best matching category using similarity\nfor (const [cat, keywords] of Object.entries(categories)) {\n  const match = findBestMatch(text, keywords);\n  if (match && match.score > bestScore) {\n    bestScore = match.score;\n    bestMatch = match;\n    suggestedCategory = cat;\n  }\n}\n\n// Set confidence based on similarity score\nlet confidence = 0.6;\nif (bestScore >= 0.9) {\n  confidence = 0.95; // Very high confidence for exact/close matches\n} else if (bestScore >= 0.7) {\n  confidence = 0.85; // High confidence for good matches\n} else if (bestScore >= 0.5) {\n  confidence = 0.75; // Medium confidence for partial matches\n} else if (bestScore > 0) {\n  confidence = 0.65; // Low confidence for weak matches\n}\n\n// Return all original fields plus AI categorization results\nreturn {\n  ...input,\n  user_id: user_id,\n  type: type,\n  description: description,\n  merchant: merchant,\n  suggested_category: suggestedCategory,\n  confidence: confidence,\n  source: 'ai',\n  match_score: bestScore,\n  matched_keyword: bestMatch ? bestMatch.keyword : null\n};"
      },
      "id": "ai-categorize",
      "name": "AI Categorization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://us-central1-money-magnet-cf5a4.cloudfunctions.net/getUserCategoriesHttp",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({\n  data: {\n    user_id: $json.user_id || '',\n    type: $json.type || 'expense'\n  }\n}) }}",
        "options": {}
      },
      "id": "get-categories",
      "name": "Get User Categories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "// Preserve all input data\nconst input = $input.item.json;\nconst suggested = input.suggested_category;\n\n// Handle Firebase callable function response wrapper\nconst response = input.result || input;\nconst userCategories = response.categories || [];\n\n// Preserve original fields\nconst user_id = input.user_id || '';\nconst type = input.type || 'expense';\nconst description = input.description || '';\nconst merchant = input.merchant || '';\n\nif (!suggested) {\n  return {\n    ...input,\n    user_id: user_id,\n    type: type,\n    description: description,\n    merchant: merchant,\n    category_id: null,\n    category_name: null,\n    confidence: 0.5\n  };\n}\n\n// Find matching category\nconst match = userCategories.find(cat => {\n  const catName = cat.name.toLowerCase();\n  return catName.includes(suggested) || \n         suggested.includes(catName) ||\n         catName === suggested;\n});\n\nreturn {\n  ...input,\n  user_id: user_id,\n  type: type,\n  description: description,\n  merchant: merchant,\n  category_id: match ? match.id : null,\n  category_name: match ? match.name : null,\n  confidence: match ? 0.8 : 0.5\n};"
      },
      "id": "match-category",
      "name": "Match Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  category_id: $json.category_id || null,\n  category_name: $json.category_name || null,\n  confidence: $json.confidence || 0.8,\n  source: $json.source || 'ai'\n}) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Normalize Pattern", "type": "main", "index": 0}]]
    },
    "Normalize Pattern": {
      "main": [[{"node": "Check Learned Mapping", "type": "main", "index": 0}]]
    },
    "Check Learned Mapping": {
      "main": [[{"node": "Mapping Found?", "type": "main", "index": 0}]]
    },
    "Mapping Found?": {
      "main": [
        [{"node": "Use Learned Category", "type": "main", "index": 0}],
        [{"node": "AI Categorization", "type": "main", "index": 0}]
      ]
    },
    "Use Learned Category": {
      "main": [[{"node": "Merge Results", "type": "main", "index": 0}]]
    },
    "AI Categorization": {
      "main": [[{"node": "Get User Categories", "type": "main", "index": 0}]]
    },
    "Get User Categories": {
      "main": [[{"node": "Match Category", "type": "main", "index": 0}]]
    },
    "Match Category": {
      "main": [[{"node": "Merge Results", "type": "main", "index": 0}]]
    },
    "Merge Results": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}

