n8n-workflows/learn-category.json
{
  "name": "Learn Category",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "learn-category",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-learn",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "learn-category"
    },
    {
      "parameters": {
        "jsCode": "// Handle webhook data - it may be in body or at root level\nconst webhookData = $input.item.json.body || $input.item.json;\nconst merchant = webhookData.merchant || '';\nconst description = webhookData.description || '';\nconst user_id = webhookData.user_id || '';\nconst new_category_id = webhookData.new_category_id || '';\nconst transaction_type = webhookData.transaction_type || '';\nconst old_category_id = webhookData.old_category_id || '';\nconst transaction_id = webhookData.transaction_id || '';\n\nconst normalize = (str) => {\n  if (!str) return '';\n  return str\n    .toUpperCase()\n    .replace(/[^A-Z0-9\\s]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\nconst pattern = normalize(merchant) || normalize(description);\n\n// Return all fields needed for downstream nodes\nreturn {\n  user_id: user_id,\n  merchant: merchant,\n  description: description,\n  new_category_id: new_category_id,\n  transaction_type: transaction_type,\n  old_category_id: old_category_id,\n  transaction_id: transaction_id,\n  pattern: pattern,\n  match_type: merchant ? 'merchant' : 'description'\n};"
      },
      "id": "normalize-learn",
      "name": "Normalize Pattern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://us-central1-money-magnet-cf5a4.cloudfunctions.net/saveCategoryMappingHttp",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({\n  data: {\n    user_id: $json.user_id || '',\n    pattern: $json.pattern || '',\n    category_id: $json.new_category_id || '',\n    transaction_type: $json.transaction_type || '',\n    match_type: $json.match_type || 'description',\n    confidence: 1.0\n  }\n}) }}",
        "options": {}
      },
      "id": "save-mapping",
      "name": "Save Mapping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  message: 'Category mapping saved'\n}) }}"
      },
      "id": "respond-learn",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Normalize Pattern", "type": "main", "index": 0}]]
    },
    "Normalize Pattern": {
      "main": [[{"node": "Save Mapping", "type": "main", "index": 0}]]
    },
    "Save Mapping": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}

